In [ ]:
"""1. Unique Words in a Sentence:
Given a sentence, identify all unique words and display:
The count of unique words
The unique words themselves
Input
Enter sentence: python is easy and python is powerful
Expected Output
Unique words count: 5
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}"""

sentence="python is easy and python is powerful"
#splitting sentences into words
words=sentence.split()
# Converting list to set to get unique words
unique_word=set(words)
#print
print("Unique words count:",len(unique_word))
print("Unique words:",unique_word)

Unique words count: 5
Unique words: {'is', 'easy', 'powerful', 'python', 'and'}

In [17]:
"""2.Highest Salary from Employee Data:
Store employee names and their salaries, and determine which employee has the highest salary.
Input employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
Expected Output
Highest Salary: Ravi - 75000"""

employees={ "Ravi": 75000,"Anita": 68000,"Kiran": 72000}
highest_salary=0
name=""
#logic to find highest salary
for i in employees:
  if employees[i]> highest_salary:
    highest_salary=employees[i]
    name=i
#print
print("Highest Salary:",name,"-",highest_salary)

Highest Salary: Ravi - 75000

In [19]:
"""3.Find Maximum and Minimum Values:
Find the maximum and minimum values from a list of numbers.
Input Format
A list of integers where each element represents a numeric value.
numbers = [45, 22, 89, 10, 66]
Expected Output
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10"""

numbers=[45,22,89,10,66]
#initialising min and max
min_num=numbers[0]
max_num=numbers[0]
#logic to find min and max
for i in numbers:
  if i > max_num:
    max_num=i
  if i < min_num:
    min_num=i
#print
print("List",numbers)
print("Max:",max_num)
print("Min:",min_num)

List [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [20]:
"""4.Count Products Above a Price Threshold:
Count how many products have a price greater than 1000.
Input
prices = [450, 1200, 899, 1500, 300]
Expected Output
Products above 1000: 2"""

prices=[450, 1200, 899, 1500, 300]
count=0
#logic
for i in prices:
  if i >  1000:
      count=count+1
#print
print("Products above 1000:",count)

Products above 1000: 2

In [26]:
"""5. Calculate Attendance Percentage:
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
Input
attendance = ["P", "P", "A", "P", "P"]
Expected Output
Attendance Percentage: 80.0"""

attendance = ["P", "P", "A", "P", "P"]
count=0
#logic
for i in attendance:
  if i=="P":
    count=count+1
#calculating percentage
percentage=(count/len(attendance))*100
#print
print("Attendence Percentage:",percentage)

Attendence Percentage: 80.0

In [29]:
"""6.Remove Duplicate Phone Numbers:
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
Input
phone_numbers = [9876543210, 9123456789, 9876543210]
Expected Output
Unique phone numbers: {9876543210, 9123456789}"""

phone_numbers = [9876543210, 9123456789, 9876543210]
#conerting list to set to remove duplicate phone numbers
unique=set(phone_numbers)
#print
print("Unique phone numbers:",unique)

Unique phone numbers: {9876543210, 9123456789}

In [33]:
"""7.Count Character Frequency:
Count how many times each character appears in a given string.
Expected Output
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}"""

text="python"
#empty list
count={}
#logic
for ch in text:
  if ch in count:
    count[ch]+=1
  else:
    count[ch]=1
#print
print(count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [35]:
"""8.Convert List to Tuple:
Convert a list into a tuple and display it.
Expected Output
Tuple: (10, 20, 30)"""

list=[10,20,30]
#converting list to tuple
output=tuple(list)
#print
print("Tuple:",output)

Tuple: (10, 20, 30)

In [38]:
"""9.Check if a Key Exists in a Dictionary:
Check whether a specific key exists in a dictionary.
Expected Output
Employee exists"""

Employee={"A":100,"B":200,"C":300}
key="A"
#logic
if key in Employee:
  print("Employee exists")
else:
  print("Employee does not exists")

Employee exists

In [42]:
"""10.Calculate Average Marks:
Calculate the average marks of a student from a list of marks."""

marks=[50,60,70,80,90]
sum=0
#logic
for i in marks:
  sum=sum+i
  #calculating average marks
avg_sum=sum/len(marks)
#print
print("Average Marks:",avg_sum)

Average Marks: 70.0